<ion-header>
  <ion-toolbar>
    <ion-title>Progress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="completedWorkouts.length > 0">
    <ion-item *ngFor="let workout of completedWorkouts">
      <ion-label>
        <h2>{{ workout.title }}</h2>
        <p>{{ workout.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="completedWorkouts.length === 0">
    <p>No workouts completed yet.</p>
  </div>

  <ion-button expand="block" color="danger" (click)="resetProgress()">Reset Progress</ion-button>
  <ion-button expand="block" fill="outline" (click)="goHome()">Home</ion-button>
  <ion-button expand="block" fill="outline" (click)="goWorkouts()">View Workouts</ion-button>
</ion-content>
